<ul class="collapsible-list">
  <li
    class="has-children {% if include.active_section == 'csharp_basics' %}open{% endif %}"
  >
    C# Basics
    <ul>
      <li>
        <a href="/course/csharp/intro">Introduction to C#</a>
      </li>
      <li><a href="/course/csharp/history">History and Evolution of C#</a></li>
    </ul>
  </li>
  <li
    class="has-children {% if include.active_section == 'setting_env' %}open{% endif %}"
  >
    Setting Up Your Development Environment
    <ul>
      <li>
        <a href="/course/csharp/intall-visual-studio"
          >Installing Visual Studio</a
        >
      </li>
      <li>
        <a href="/course/csharp/intall-visual-studio-code"
          >Installing Visual Studio Code</a
        >
      </li>
      <li>
        <a href="/course/csharp/first-c-sharp-project"
          >Creating Your First C# Project</a
        >
      </li>
      <li>Understanding the C# Project Structure</li>
    </ul>
  </li>
  <li class="has-children">
    Basic Syntax and Data Types
    <ul>
      <li>Variables and Constants</li>
      <li>Data Types in C#</li>
      <li>Operators in C#</li>
    </ul>
  </li>
  <li class="has-children">
    Control Flow
    <ul>
      <li>Conditional Statements (if, switch)</li>
      <li class="has-children no-border">
        Loops
        <ul>
          <li>for Loop</li>
          <li>while Loop</li>
          <li>do-while Loop</li>
          <li>foreach Loop</li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="has-children">
    Functions and Methods
    <ul>
      <li>Defining and Calling Functions</li>
      <li>Parameters and Return Values</li>
      <li>Method Overloading</li>
    </ul>
  </li>
  <li class="has-children">
    Object-Oriented Programming (OOP) Concepts
    <ul>
      <li>Classes and Objects</li>
      <li>Encapsulation</li>
      <li>Inheritance</li>
      <li>Polymorphism</li>
      <li>Constructors</li>
      <li>Destructors</li>
    </ul>
  </li>
  <li class="has-children">
    Collections and Generics
    <ul>
      <li>Arrays</li>
      <li>Lists</li>
      <li>Dictionaries</li>
      <li>Queue</li>
      <li>Stack</li>
    </ul>
  </li>
  <li class="has-children">
    Exception Handling
    <ul>
      <li>Try-Catch Blocks</li>
      <li>Throwing Exceptions</li>
      <li>Custom Exceptions</li>
    </ul>
  </li>
</ul>
