---
title: C# Fundamentals
layout: post
permalink: /course/csharp/intro
courseImage: /assets/img/courses/csharp.jpeg
heading: "C# Fundamentals"
active_section: csharp_basics
---

<section id="csharp-intro" class="section">
  <div class="row">
    <div class="col col-lg-3">
      {% include_relative _curriculum.html active_section=page.active_section %}
    </div>
    <div class="col col-lg-9">
      <h2 style="view-transition-name: course_heading">Introduction to C#</h2>
<div  style="view-transition-name: main_content">
      <p>
        C# (C-Sharp) is a modern, object-oriented programming language developed
        by Microsoft as part of the .NET framework. C# has roots from the C
        family (C, C++) and the language is similar to Java. Among various
        languages supported by .NET framework, C# is the most popular and widely
        used language.
      </p>
      <p>
        Since, Microsoft started cross-platform support initiative through new
        version of .NET framework called .NET Core (now .NET) C# now can be run
        on many different devices, from Internet of Things (IoT) devices to the
        cloud and everywhere in between. You can write apps for phone (android,
        iOS), desktop and laptop computers and servers.
      </p>
      <p>
        C# is a compiled language; however, unlike C or C++, which get compiled
        directly to machine code (native code) that runs directly on the
        hardware, C# gets compiled to an intermediate language (IL) known as
        Common Intermediate Language (CIL). This intermediate code is not
        specific to any particular platform or architecture.
      
      <ol>
        <li>Compilation to CIL:</li>
        <p>When you write a C# program, the C# compiler (csc.exe) first compiles your source code into CIL. This intermediate language is platform-independent, meaning it can run on any platform that has a compatible runtime (like the .NET runtime).</p>

        <li>The Role of .NET Runtime (CLR):</li>
        <p>The compiled CIL code is packaged into assemblies (usually in .exe or .dll files). These assemblies are executed by the Common Language Runtime (CLR), which is the runtime environment provided by the .NET framework. The CLR is responsible for:
          <ul>
            <li>Just-In-Time (JIT) Compilation</li>
            <p>The CLR takes the CIL code and compiles it into native machine code specific to the platform it’s running on at runtime (this process is called JIT compilation).</p>
            <li>Garbage Collection</li>
            <p>The CLR also manages memory through garbage collection, which automatically reclaims memory that is no longer being used.</p>
          </ul>
        </p>

        <li>Platform Independence:</li>
        <p>This process allows C# programs to be platform-agnostic in a sense, meaning they can run on any platform that has a .NET runtime implementation, such as Windows, Linux, or macOS (via .NET Core or .NET 5+). In contrast, C or C++ programs must be recompiled for each specific platform to produce native machine code.</p>
      </ol>
     
      </p>
       <p>This two-step process (C# → CIL → JIT compilation) provides both portability and the advantages of managed code (e.g., memory management and exception handling), unlike C or C++ where the developer has to manage memory manually.</p>
      
      <!-- <pre>
        <code class="language-cs">
                public class HelloWorld {
                    public static void Main() {
                        Console.WriteLine("Hello, world!");
                    }
                }
        </code>
      </pre> -->
</div>
      <div>
        {% include _nav_btn.html prev='' next='history' %}
      </div>
    </div>
  </div>
  
</section>

{% include cards/recommended_course.html course_first=2 course_second=0 %}
