<section class="d-flex align-items-center min-vh-100 py-5">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-md-6 order-md-2">
        <div class="lc-block">
          <lottie-player
            src="https://lottie.host/74ae2c98-255e-4a49-a5c0-8d57ee8ba1aa/LhUOpuGOHF.json"
            background="transparent"
            speed="1"
            loop=""
            autoplay=""
            zoom="2.5"
          ></lottie-player>
        </div>
      </div>
      <div class="col-md-6 text-center text-md-start">
        <div class="lc-block mb-3">
          <div editable="rich">
            <h1 class="display-1 fw-bold text-muted">Under Construction</h1>
          </div>
        </div>
        <div class="lc-block mb-5">
          <div editable="rich">
            <p class="rfs-11 fw-light">
              I'm busy crafting something wonderful—please check back soon!
            </p>
          </div>
        </div>
        <div class="lc-block">
          <a class="btn btn-lg btn-secondary" href="/" role="button"
            >Back to homepage</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
