<section id="home" class="section">
  <div class="col-md-12">
    <canvas id="canv"></canvas>
    <div id="home-content" class="text-center">
      <div class="card">
        <div class="card-header">{% include terminal_buttons.html %}</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <div class="command-line">
                <span class="prompt">$</span>
                <span class="prompt">whoami</span>
              </div>
              <div class="command-line">
                <h2 class="">Bhuban Shrestha</h2>
              </div>
              <div class="command-line">
                <h6 class="text-secondary">Senior Backend Engineer</h6>
              </div>
              <div class="command-line">
                <span class="prompt">$</span>
                <span class="prompt">skills</span>
              </div>
            </div>
            <div class="col-md-4 d-none d-md-block">
              <img
                src="/assets/img/profile-img.jpg"
                alt="Bhuban Shrestha"
                class="profile-img rounded img-fluid"
                style="width: 150px"
              />
            </div>
          </div>
          <div class="command-line command-line flex flex-wrap">
            <button
              class="skills-btn"
              aria-labelledby="leveldiv"
              role="none"
              tabindex="-1"
              title=".net"
              aria-label=".NET"
            >
              .NET
            </button>
            <button
              class="skills-btn"
              aria-labelledby="leveldiv"
              role="none"
              tabindex="-1"
              title="Python"
              aria-label="Python"
            >
              Python
            </button>
            <button
              class="skills-btn"
              aria-labelledby="leveldiv"
              role="none"
              tabindex="-1"
              title="C#"
              aria-label="C#"
            >
              C#
            </button>
            <button
              class="skills-btn"
              aria-labelledby="leveldiv"
              role="none"
              tabindex="-1"
              title="SSIS"
              aria-label="SSIS"
            >
              SSIS
            </button>
            <button
              class="skills-btn"
              aria-labelledby="leveldiv"
              role="none"
              tabindex="-1"
              title="SSMS"
              aria-label="SSMS"
            >
              SSMS
            </button>
            <button
              class="skills-btn"
              aria-labelledby="leveldiv"
              role="none"
              tabindex="-1"
              title="Git"
              aria-label="Git"
            >
              Git
            </button>
            <button
              class="skills-btn"
              aria-labelledby="leveldiv"
              role="none"
              tabindex="-1"
              title="TFS"
              aria-label="TFS"
            >
              TFS
            </button>

            <button
              class="skills-btn"
              aria-labelledby="leveldiv"
              role="none"
              tabindex="-1"
              title="Jira"
              aria-label="Jira"
            >
              Jira
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
