<div class="card">
  <div class="card-header">{% include terminal_buttons.html %}</div>
  <div class="card-body">
    <div class="command-line">
      <span class="prompt">$</span>
      <span class="prompt">contact --info</span>
    </div>
    <div class="command-line">
      <h2 class="">Let's Connect</h2>
    </div>
    <div class="command-line">
      <span class="prompt">$</span>
      <span class="prompt">location --current</span>
    </div>
    <div class="command-line">
      <h6 class="">Gold Coast, QLD, Australia</h6>
    </div>
    <div class="command-line">
      <span class="prompt">$</span>
      <span class="prompt">contact --education</span>
    </div>
    <div class="command-line">
      <h6 class="d-none d-md-block">
        Master's in Information Technology from Southern Cross University, 2023
      </h6>
      <h6 class="d-block d-md-none">
        MIT from Southern Cross University, 2023
      </h6>
    </div>

    <div class="command-line">
      <span class="prompt">$</span>
      <span class="prompt">contact --email</span>
    </div>
    <div class="command-line">
      <h6 class="">
        <button
          class="btn skills-btn"
          onclick="window.location.href='mailto:bhubanshrestha12@gmail.com'"
        >
          bhubanshrestha12@gmail.com
        </button>
      </h6>
    </div>

    <div class="command-line">
      <span class="prompt">$</span>
      <span class="prompt">cat resume.pdf</span>
    </div>
    <div class="command-line">
      <h6 class="">
        <a
          class="btn skills-btn"
          href="/assets/files/cv_bhuban_sw.pdf"
          download="bhuban_resume.pdf"
        >
          <i class="fa-solid fa-file-arrow-down"></i>
          Download Resume
        </a>
      </h6>
    </div>

    <div class="command-line">
      <span class="prompt">$</span>
      <span class="prompt">ls ./social-links</span>
    </div>
    <div class="command-line command-line flex flex-wrap">
      <a
        class="btn skills-btn social-links"
        href="https://linkedin.com/in/bhubanshrestha/"
        target="_blank"
        style="padding: 15px 10px"
      >
        <div class="row">
          <div class="col-3 d-flex align-items-center">
            <i class="fa-brands fa-linkedin" style="font-size: 40px"></i>
          </div>

          <div class="col-9 col-md-9 d-flex align-items-center">
            <span>
              <b>LinkedIn</b> <br />
              Bhuban Shrestha
            </span>
          </div>
        </div>
      </a>

      <a
        class="btn skills-btn social-links"
        href="https://github.com/bhubanstha/"
        target="_blank"
        style="padding: 15px 10px"
      >
        <div class="row">
          <div class="col-3 d-flex align-items-center">
            <i class="fa-brands fa-github" style="font-size: 40px"></i>
          </div>

          <div class="col-9 col-md-9 d-flex align-items-center">
            <span>
              <b>Github</b> <br />
              bhubanstha
            </span>
          </div>
        </div>
      </a>

      <a
        class="btn skills-btn social-links"
        href="https://stackoverflow.com/users/4346969/bhuban-shrestha/"
        target="_blank"
        style="padding: 15px 10px"
      >
        <div class="row">
          <div class="col-3 d-flex align-items-center">
            <i class="fa-brands fa-stack-overflow" style="font-size: 40px"></i>
          </div>

          <div class="col-9 col-md-9 d-flex align-items-center">
            <span>
              <b>Stack Overflow</b> <br />
              Bhuban Shrestha
            </span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
